name = "loki-log-shipper"
type = "webpack"
workers_dev = true
route = ""
webpack_config = "webpack.config.js"
vars = { OPTIONS = '{"css":true,"images":true,"js":true,"ip":true}', LOKI_HOST="$LOKI_HOST", CLIENT_ID="$CLIENT_ID", IPINFO_TOKEN="$IPINFO", FINGERPRINT_KEY="$FINGERPRINT" }

routes = [
    "$DOMAIN/*",
    "sub1.$DOMAIN/*",
]

[env.dev]
webpack_config = "webpack.dev.config.js"
